# Loosely based upon:
#   https://github.com/actions/starter-workflows/blob/main/ci/php.yml

name: Check 

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'
          tools: composer:v2
          coverage: none

      - name: Show PHP version
        run: php -v
        
      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest

      # the test script is configured in composer.json.
      # see: https://getcomposer.org/doc/articles/scripts.md
      - name: Run test suites
        run: composer run-script test